.keyword {
    -fx-fill: #0000ff;
    -fx-font-weight: bold;
}
.dot {
    -fx-font-weight: bold;
    -fx-fill: #0000ff;
}
.paren {
    -fx-fill: black;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: #A31515;
}
.comment {
	-fx-fill: #008000;
}
.core-element {
	-fx-fill: red;
}
